.col .sidebar-container{
    max-width: 85px;
  }
  .links {
      text-decoration: none;
      color: red;
    }
  
  ul.course_nav .list-group-item {
      border: none;
      background-color: white;
      width: 190px;
     padding-left: 5px;
     padding-right: 5px;
     margin-bottom: 12px;
     border-radius: 0;
  }
    
    ul.course_nav .list-group-item.active {
      border: none;
      border-left: 2px solid black;
    }
    
    ul.course_nav a {
      color: red;
      text-decoration: none;
      font-size: 14px;
    }
    
    ul.course_nav .list-group-item.active a {
      color: black;
      text-decoration: none;
      margin-left: 8px;
    }
  
    .mr-5 {
      margin-right: 5px;
    }
    
    